<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
    rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>

<body>

  <!--Add a nav bar here -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dealership Review</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact">Contact Us</a>
        </li>
      </ul>
      {% if not user.is_authenticated %}
      <form class="form-inline my-2 my-lg-0" method="post" action="./login">{% csrf_token %}
        <div class="input-group">
          <div class="input-group-prepend">
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="username"
              name="username">
            <input type="password" class="form-control" placeholder="" aria-label="" aria-describedby="password"
              name="password">
          </div>
        </div>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
        <button type="button" class="btn btn-link">Sign Up</button>
      </form>
      {% else %}
      <form class="form-inline my-2 my-lg-0" method="post" action="./logout">{% csrf_token %}
        <button type="button" class="btn btn-link">{{ user.username }}</button>
        <button type="submit" class="btn btn-link">Logout</button>
      </form>
      {% endif %}
    </div>
  </nav>

  <!--Add review form here -->
  <div class="p-2">
  <h1>Add a review about <b>{{dealer_name}}</b></h1>
  <form method="post" action="{% url 'djangoapp:add_review' dealer_id %}">{% csrf_token %}
    <div>
      <span>Your name: (optional)</span>
      <input type="text" name="name"/>
    </div>
    <span>Enter the review content</span>
    <textarea name="review" placeholder="This is a great car dealer" class="form-control" id="content" name="content" rows="2"
      required></textarea>
    <div>
      <input name="purchase" type="checkbox"></button>
      <span>Has purchased the car from {{dealer_name}}? (select purchased car information below if checked)</span>
    </div>
    <div>
      <span>Select your car (model-make-year)</span>
      <select name="car" id="car" class="form-select" required>
        {% for car in cars %}
        <option selected value={{car.id}}>{{car.name}}-{{car.car_make.name}}-{{ car.year|date:"Y" }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <span>Select your purchase date</span>
      <input name="purchase_date" type="date">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</body>

</html>