<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Sign Up</h1>
    <hr />
    <form method="post">{% csrf_token %}
      <label class="font-weight-bold">Username</label>
      <input type="text" class="form-control" placeholder="Username" name="username" />
      <label class="font-weight-bold">First Name</label>
      <input type="text" class="form-control" placeholder="First Name" name="first_name" />
      <label class="font-weight-bold">Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" name="last_name" />
      <label class="font-weight-bold">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" />
      <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
    </form>
  </div>
</body>

</html>